.home__hero-section {
    color: #FFFFFF;
    padding: 50px 0;
    overflow-x: hidden;
    height: 100%;
    
   
  }
  
  .home__hero-row {
    align-items:center;
  }
  
  .row {
    display: flex;
    margin-right: -15px;
    margin-bottom: -15px;
    margin-left: 65px;
    flex-wrap: wrap;
    align-content: flex;
    justify-content: space-between;
  }
  
  .col {
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 1;
    max-width: 50%;
    /* flex-basis: 50%; */
  }
  
  .home__hero-text-wrapper {
    padding-top: 0;
    padding-bottom: 60px;
  }
  
  
  .heading {
    margin-bottom: 24px;
    color: #FFFFFF;
    font-family:'Arimo', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 58px;
  }
  
  .dark {
    color: #014AAD;
  }
  
  .darkBg {
    background-color: #014AAD;
  }
  
  .home__hero-subtitle {
    /* max-width: 450px; */
    margin-bottom: 35px;
    font-family:'Arimo', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */

    letter-spacing: 0.02em;

  }
  
  .home__hero-img-wrapper {
    max-width: 600px;
  }
  
  .home__hero-img {
    max-width: 623px;
    max-height: 443px;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 10px;
    padding-right: 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    margin-bottom: 39px;
  }
  .imgmarginstart{
  flex-direction: row-reverse;  
  margin-right: 216px;
  }
 
  
  img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    
  }
  
  @media screen and (max-width: 991px) {
    
    .container {
      padding-right: 35px;
      padding-left: 35px;
      
    }
    .home__hero-img {
      display: none;
    }
    .heading {
      font-size: 39px;
    }
    
  }
  
  @media screen and (max-width: 768px) {
    .home__hero-text-wrapper {
      padding-bottom: 65px;
    }
  
    .col {
      max-width: 100%;
      flex-basis: 100%;
    }
  }